<%- include('header') %>

    <div class="box" id="heading">
        <h1>Welcome <%= user %>, Today is  <%= date %> </h1>
        <h1>Your To-Do List For <%= listTitle %></h1>
    </div>
    <div class="box" id="heading">
    </div>

    <div class="box">

        <% newItemsList.forEach(element => { %>
            <form action="/delete" method="post">
            <div class="item">  
                <input type="checkbox" value="<%=element._id %>" name="checkbox" onchange="this.form.submit()" >  
                <p><%= element.name %></p>
            </div>
            </form>
        <% }); %>


        <form class="item" action="/" method="post">
            <input type="text" name="newItem" id="" placeholder="New Item" autofocus required>
            <button type="submit" name="list" value=<%= listTitle %> >+</button><br>
        </form>
    </div>

    <%- include('footer') %>